wave/wsdl/services/job/control/print/monitoring/PrintJobMonitoringBinding.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>

<wsdl:definitions name="PrintJobMonitoringBinding"
                  targetNamespace="http://schemas.oce.com/ws/wave/services/job/control/print/monitoring"
                  xmlns:tns="http://schemas.oce.com/ws/wave/services/job/control/print/monitoring"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

    <wsdl:import location="PrintJobMonitoringPort.wsdl"
                 namespace="http://schemas.oce.com/ws/wave/services/job/control/print/monitoring"/>

    <wsdl:binding name="PrintJobMonitoringBinding" type="tns:PrintJobMonitoringPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="lookupJob">
            <soap:operation soapAction="http://schemas.oce.com/ws/wave/services/job/control/print/monitoring/lookupJob"
                            style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="sessionDeniedFault">
                <soap:fault name="sessionDeniedFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="getJobsInPrinterQueue">
            <soap:operation soapAction="http://schemas.oce.com/ws/wave/services/job/control/print/monitoring/getJobsInPrinterQueue"
                            style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="sessionDeniedFault">
                <soap:fault name="sessionDeniedFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="getJobs">
            <soap:operation soapAction="http://schemas.oce.com/ws/wave/services/job/control/print/monitoring/getJobs"
                            style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="sessionDeniedFault">
                <soap:fault name="sessionDeniedFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        
        <wsdl:operation name="startMonitoringPrinterQueue">
            <soap:operation soapAction="http://schemas.oce.com/ws/wave/services/job/control/print/monitoring/startMonitoringPrinterQueue"
                            style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="sessionDeniedFault">
                <soap:fault name="sessionDeniedFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="popPrinterQueueEvents">
            <soap:operation soapAction="http://schemas.oce.com/ws/wave/services/job/control/print/monitoring/popPrinterQueueEvents"
                            style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="sessionDeniedFault">
                <soap:fault name="sessionDeniedFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        
        <wsdl:operation name="stopMonitoringPrinterQueue">
            <soap:operation soapAction="http://schemas.oce.com/ws/wave/services/job/control/print/monitoring/stopMonitoringPrinterQueue"
                            style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="sessionDeniedFault">
                <soap:fault name="sessionDeniedFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        
        <wsdl:operation name="getJobResourceElements">
            <soap:operation soapAction="http://schemas.oce.com/ws/wave/services/job/control/print/monitoring/getJobResourceElements"
                            style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="sessionDeniedFault">
                <soap:fault name="sessionDeniedFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        
    </wsdl:binding>

</wsdl:definitions>






